---

kafka_packages:
  - name: zookeeper
    version: 3.4.11
    url: "http://mirrors.shuosc.org/apache/zookeeper/zookeeper-3.4.11/zookeeper-3.4.11.tar.gz"
  - name: kafka
    version: 2.12-1.0.0
    url: "http://mirrors.tuna.tsinghua.edu.cn/apache/kafka/1.0.0/kafka_2.12-1.0.0.tgz"


kafka_under_gfw:
  - name: zookeeper
    version: 3.4.11
    url: "https://download.pingcap.org/zookeeper-3.4.11.tar.gz"
  - name: kafka
    version: 2.12-1.0.0
    url: "https://download.pingcap.org/kafka_2.12-1.0.0.tgz"

