---

- name: Stop if ansible version is too low, make sure that the Ansible version is Ansible 2.4.2 or later, otherwise a compatibility issue occurs.
  assert:
    that:
      - ansible_version.full|version_compare('2.4.2', '>=')
      # - ansible_version.full is version('2.5.0', '>=')

- name: detect outbound network
  shell: >
    warn=no
    curl -s --connect-timeout 10 www.baidu.com 2>/dev/null >/dev/null; echo $?
  changed_when: false
  register: outbound_network_st

- name: set outbound network fact
  set_fact: has_outbound_network={{ outbound_network_st.stdout.strip() == '0' }}

- fail:
    msg: "The Control Machine must have access to the Internet in order to download kafka and related packages."
  when: not has_outbound_network

- name: detect GFW
  shell: >
    warn=no
    curl -s --connect-timeout 10 google.com 2>/dev/null >/dev/null; echo $?
  changed_when: false
  register: gfw_st

- name: set GFW fact
  set_fact: under_gfw={{ gfw_st.stdout.strip() != '0' }}

- name: Make sure curl have been installed
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - curl
  become: true

- name: create downloads and resources directories
  file: path="{{ item }}" state=directory mode=0755
  with_items:
  - "{{ downloads_dir }}"
  - "{{ conf_dir }}"

- name: create kafka_packages.yml
  template: src=kafka_packages.yml.j2 dest={{ playbook_dir }}/conf/kafka_packages.yml

- include_vars: file={{ playbook_dir }}/conf/kafka_packages.yml

- name: download packages
  get_url:
    url: "{{ item.url }}"
    dest: "{{ downloads_dir }}/{{ item.name }}-{{ item.version }}.tar.gz"
    checksum: "{{ item.checksum | default(omit) }}"
    force: yes
    validate_certs: no
  register: get_url_result
  until: "'OK' in get_url_result.msg or 'file already exists' in get_url_result.msg"
  retries: 4
  delay: "{{ retry_stagger | random + 3 }}"
  with_items: "{{ kafka_packages }}"
  when:
    - has_outbound_network
    - not under_gfw

- name: download packages under gfw
  get_url:
    url: "{{ item.url }}"
    dest: "{{ downloads_dir }}/{{ item.name }}-{{ item.version }}.tar.gz"
    checksum: "{{ item.checksum | default(omit) }}"
    force: yes
    validate_certs: no
  register: get_url_result
  until: "'OK' in get_url_result.msg or 'file already exists' in get_url_result.msg"
  retries: 4
  delay: "{{ retry_stagger | random + 3 }}"
  with_items: "{{ kafka_under_gfw }}"
  when:
    - has_outbound_network
    - under_gfw

- name: download unzip rpm when offline_deployment = True
  get_url: url=http://download.pingcap.org/{{ unzip_rpm_file }} dest={{ downloads_dir }}/{{ unzip_rpm_file }} validate_certs=no
  when:
    - has_outbound_network
    - offline_deployment|default(false)
